

{% load static %}

<h1>Bulbasaur</h1>
<img src="{% static 'tipo_planta.png' %}" alt="" width="80">
<img src="{% static 'tipo_veneno.png' %}" alt="" width="80">

<p>Bulbasaur es un Pokémon de tipo planta/veneno introducido en la primera generación</p>

<h3>Ataques Principales</h3>
<p>Poder Pasado, Planta Feroz, Meteorobola, Danza Pétalo, Hoja Mágica, Lluevehojas</p>


<h3>Evoluciones</h3>
<h4>Bulbasaur</h4>
<img src="{% static 'bulbasaur.jpg' %}" alt="" width="300">
<h4>Ivysaur</h4>
<img src="{% static 'ivysaur.jpg' %}" alt="" width="300">
<h4>Venusaur</h4>
<img src="{% static 'venusaur.png' %}" alt="" width="300">


