

{% load static %}

<h1>Charmander</h1>
<img src="{% static 'tipo_fuego.png' %}" alt="" width="80">

<p>Charmander es un Pokémon de tipo fuego introducido en la primera generación</p>

<h3>Ataques Principales</h3>
<p>Pantalla de humo, Dragoaliento, Colmillo ígneo, Lanzallamas, Girofuego</p>


<h3>Evoluciones</h3>
<h4>Charmander</h4>
<img src="{% static 'charmander.png' %}" alt="" width="300">
<h4>Charmeleon</h4>
<img src="{% static 'charmeleon.png' %}" alt="" width="300">
<h4>Charizard</h4>
<img src="{% static 'charizard.jpg' %}" alt="" width="300">