{% load static %}

<h1>Chikorita</h1>
<img src="{% static 'tipo_planta.png' %}" alt="" width="80">

<p>Chikorita es un Pokémon de tipo planta introducido en la segunda generación</p>

<h3>Ataques Principales</h3>
<p>Hoja afilada, Polvo veneno, Dulce aroma, Velo sagrado, Aromaterapia</p>


<h3>Evoluciones</h3>
<h4>Chikorita</h4>
<img src="{% static 'chikorita.png' %}" alt="" width="300">
<h4>Bayleef</h4>
<img src="{% static 'bayleef.jpg' %}" alt="" width="300">
<h4>Meganium</h4>
<img src="{% static 'meganium.jpg' %}" alt="" width="300">