{% load static %}

<h1>Chimchar</h1>
<img src="{% static 'tipo_fuego.png' %}" alt="" width="80">

<p>Chimchar es un Pokémon de tipo fuego introducido en la cuarta generación.</p>

<h3>Ataques Principales</h3>
<p>Rueda fuego, Maquinación, Lanzallamas, Doble filo, Placaje</p>


<h3>Evoluciones</h3>
<h4>Chimchar</h4>
<img src="{% static 'chimchar.jpg' %}" alt="" width="300">
<h4>Monferno</h4>
<img src="{% static 'monferno.png' %}" alt="" width="300">
<h4>Infernape</h4>
<img src="{% static 'infernape.png' %}" alt="" width="300">