<!--esto se mostrará en la página inicial de la web-->
{% load static %}

<h1>Bienvenido/a a mi pequeña Web sobre Pokémon</h1>
<h4>Vos tampoco sabes nada sobre la serie? aprendamos juntos...</h4>

<img src="{% static 'logo_pokemon.png' %}" alt="" width="500">

<!--QUÉ ES POKÉMON-->
<h2>Qué es Pokémon?</h2>
<p>Pokémon (también conocido por su nombre original Pocket Monsters) es un anime creado por Satoshi Tajiri, el cual narra la historia de Ash Ketchum, un joven entrenador Pokémon de Pueblo Paleta que comienza un viaje para alcanzar su sueño, ser un Maestro Pokémon. La serie está basada en la saga de videojuegos de Pokémon también creada por Satoshi Tajiri, desarrollada por Game Freak y distribuida por Nintendo, que aparecieron por primera vez en el mercado japonés el 27 de febrero de 1996</p>

<!--RESÚMEN-->
<h2>Pequeño resumen de la serie</h2>
<p>El objetivo de Ash es convertirse en un Maestro Pokémon, lo que implica desafiar a líderes de gimnasios, participar en la Liga Pokémon y enfrentarse a la malvada organización conocida como el Equipo Rocket. Durante su viaje, Ash hace amigos leales como Misty, Brock y muchos otros entrenadores Pokémon.</p>

<p>La serie se caracteriza por su amplia variedad de Pokémon, cada uno con habilidades y características únicas. Los Pokémon se capturan en Poké Balls y luego se entrenan para desarrollar habilidades y evolucionar en formas más poderosas. Las batallas Pokémon son un aspecto central de la serie, donde los entrenadores enfrentan a sus Pokémon en emocionantes duelos utilizando movimientos y estrategias específicas.</p>

<p>A lo largo de las diferentes temporadas y regiones de la serie, Ash y sus amigos conocen a nuevos Pokémon, se enfrentan a desafiantes rivales y exploran los misterios del mundo Pokémon. La serie también destaca valores como la amistad, la determinación y el trabajo en equipo.</p>

<!--POKÉMON PRINCIPALES-->
<h2>Algunos de los Pokémon principales son:</h2>
<nav>
    <ul>
        <li><a href="/pikachu">Pikachu</a></li>
        <li><a href="/bulbasaur">Bulbasaur</a></li>
        <li><a href="/charmander">Charmander</a></li>
        <li><a href="/squirtle">Squirtle</a></li>
        <li><a href="/chikorita">Chikorita</a></li>
        <li><a href="/treecko">Treecko</a></li>
        <li><a href="/chimchar">Chimchar</a></li>
        <li><a href="/piplup">Piplup</a></li>
    </ul>
</nav>


<!--TIPOS DE POKÉMON-->
<h2>Tipos de pokémon</h2>
<img src="{% static 'tipos_pokemon.jpg' %}" alt="" width="900">

