
{% load static %}

<h1>Pikachu</h1>
<img src="{% static 'tipo_electrico.png' %}" alt="" width="80">

<p>Pikachu es un Pokémon del tipo eléctrico, por lo que sus ataques en su mayoría están compuestos de choques de electricidad estática.</p>

<h3>Ataques Principales</h3>
<p>Impactrueno, Bola Voltio, Cola Férrea, Chispazo, Placaje Eléctrico</p>


<h3>Evoluciones</h3>
<h4>Pikachu</h4>
<img src="{% static 'pikachu.jpg' %}" alt="" width="300">
<h4>Pichu</h4>
<img src="{% static 'pichu.jpg' %}" alt="" width="300">
<h4>Raichu</h4>
<img src="{% static 'raichu.jpg' %}" alt="" width="300">




