{% load static %}

<h1>Piplup</h1>
<img src="{% static 'tipo_agua.png' %}" alt="" width="80">

<p>Piplup es un Pokémon de tipo agua introducido en la cuarta generación</p>

<h3>Ataques Principales</h3>
<p>Hidropulso, Hidroariete, Respiro, Burbuja</p>


<h3>Evoluciones</h3>
<h4>Piplup</h4>
<img src="{% static 'piplup.png' %}" alt="" width="300">
<h4>Prinplup</h4>
<img src="{% static 'prinplup.png' %}" alt="" width="300">
<h4>Empoleon</h4>
<img src="{% static 'empoleon.png' %}" alt="" width="300">