{% load static %}

<h1>Squirtle</h1>
<img src="{% static 'tipo_agua.png' %}" alt="" width="80">

<p>Squirtle es un Pokémon de tipo agua introducido en la primera generación</p>

<h3>Ataques Principales</h3>
<p>Pistola agua, Hidropulso, Danza lluvia, Hidro bomba, Rompecoraza</p>


<h3>Evoluciones</h3>
<h4>Squirtle</h4>
<img src="{% static 'squirtle.png' %}" alt="" width="300">
<h4>Wartortle</h4>
<img src="{% static 'wartortle.png' %}" alt="" width="300">
<h4>Blastoise</h4>
<img src="{% static 'blastoise.png' %}" alt="" width="300">