{% load static %}

<h1>Treecko</h1>
<img src="{% static 'tipo_planta.png' %}" alt="" width="80">

<p>Treecko es un Pokémon de tipo planta introducido en la tercera generación.</p>

<h3>Ataques Principales</h3>
<p>Atizar, Energibola, Chirrido, Lluevehojas, Malicioso</p>


<h3>Evoluciones</h3>
<h4>Treecko</h4>
<img src="{% static 'treecko.jpg' %}" alt="" width="300">
<h4>Grovyle</h4>
<img src="{% static 'grovyle.jpg' %}" alt="" width="300">
<h4>Sceptile</h4>
<img src="{% static 'sceptile.png' %}" alt="" width="300">